#include "Base.xcconfig"

COPY_PHASE_STRIP = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) INTERNAL_DIAGNOSTICS INTERNAL_DEMO_CREDENTIALS
SWIFT_COMPILATION_MODE = wholemodule

SG_APP_BUNDLE_IDENTIFIER = com.local.SingleGreenDemo.internal
SG_APP_DISPLAY_NAME = 单绿内部版
SG_TEST_BUNDLE_IDENTIFIER = com.local.SingleGreenDemo.internal.Tests
