#include "Base.xcconfig"

COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG INTERNAL_DIAGNOSTICS INTERNAL_DEMO_CREDENTIALS
SWIFT_OPTIMIZATION_LEVEL = -Onone

SG_APP_BUNDLE_IDENTIFIER = com.local.SingleGreenDemo.internal
SG_APP_DISPLAY_NAME = 单绿内部版
SG_TEST_BUNDLE_IDENTIFIER = com.local.SingleGreenDemo.internal.Tests
